<html>
<!-- layouts/Default.vm begin -->
<head>
<title>York Atlas - Phone and E-mail Directory</title>

<link rel="stylesheet" href="https://passportyork.yorku.ca/yorkweb/standards/web/css/main.css">

</head>

<body bgcolor="#ffffff">
<a name="top"></a>


<table width="100%" cellspacing="0" cellpadding="0" cellborder="0" border="0">
  <tr>
    <td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="167" valign="top"><a href="http://www.yorku.ca/"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/yorklogo.gif" alt="York U: Redefine the Possible" width="167" height="91" border="0" /></a></td>
        <td valign="bottom"><a href="http://www.yorku.ca/yorkweb/" id="yib2home">HOME</a> | <a href="http://www.yorku.ca/yorkweb/cs.htm" id="yib2cs">Current Students</a> | <a href="http://www.yorku.ca/yorkweb/fs.htm" id="yib2fs">Faculty &amp; Staff</a> | <a href="http://www.research.yorku.ca/" id="yib2research">Research</a> | <a href="http://www.yorku.ca/yorkweb/international.htm" id="yib2international">International</a></td>
        <td width="210" valign="top"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/tablebanner.gif" width="210" height="91" border="0" usemap="#ybimap" alt="link: Future Students, Alumni &amp; Visitors" /></td>
      </tr>
	  </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" id="yib2qlinks">&nbsp;&nbsp;<a href="http://www.yorku.ca/yorkweb/faculties.htm" id="yib2fac">Faculties</a> &bull; <a href="http://www.library.yorku.ca/" id="yib2lib">Libraries</a> &bull; <a href="http://www.yorku.ca/yorkweb/maps/index.htm" id="yib2maps">Campus Maps</a> &bull; <a href="http://www.yorku.ca/yorkweb/org.htm" id="yib2org">York U Organization</a> &bull; <a href="http://atlas.yorku.ca" id="yib2dir">Directory</a></td>
          <td align="right" valign="top" id="yib2searchbox"><a href="http://www.yorku.ca/yorkweb/reference/yorksearch/index.htm" id="yib2search">Search &raquo;</a>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#000000"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/pixel.gif" height="1" width="615" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td background="https://atlas.cafe.uit.yorku.ca/atlas/images/redrule.gif"> <img src="https://atlas.cafe.uit.yorku.ca/atlas/images/atlasbanner.gif" height="60" align="top" border="0" usemap="#Map" width="343" alt="York Atlas Logo (Email and Phone Directory)"><map name="Map"><area shape="rect" coords="1,31,343,58" href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"></map></td>
    
  </tr>
  <tr> 
    <td align="right">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/rechercher.gif" border="0" alt="Search Again"></a></td>
          <td><a href="http://designates.apps06.yorku.ca"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/designates.gif" border="0" alt="Need changes or additions?"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/otherdirectories_fr.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/autres.gif" border="0" alt="Other Directories"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction?eventsubmit_dolanguage=Language"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/english.gif" border="0" alt="French/English"></a></td>
		  <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction/template/customize_fr.vm?eventsubmit_docustomize=Customize"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/personnalisent.gif" border="0" alt="Customize"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/help_fr.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/fr/aide.gif" border="0" alt="Help"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%">
  <tr> 
    <td align="left" valign="top"><a name="bypassnavigation"></a> &nbsp;<br>
<span class="heading">Customize your York Atlas</span>
<br>


<form name="CustomizeForm" method="post" action="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction/template/customize_en.vm">
<table border="0" cellpadding="3" cellspacing="0">
    <tr> 
      <td colspan="11"><span class="subheading">Seach Form Placement</span><br>
<span class="bodytext">On your search results pages display the search form on: <br>
        <font color="#666666">(Select the appropriate circular button, then click 
        on Save My Preference)</font></span><br>
        &nbsp; </td>
	</tr>
    <tr valign="top"> 
      <td> 
        <input type="radio" name="customizeSearchForm" value="customizeSearchFormNone" CHECKED alt="None">
      </td>
      <td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/customize_none.gif" border="0" align="middle" alt="None"></td>
      <td width="10">&nbsp;</td>
      <td> 
        <input type="radio" name="customizeSearchForm" value="customizeSearchFormBottom"  alt="Bottom">
      </td>
      <td> <img src="https://atlas.cafe.uit.yorku.ca/atlas/images/customize_bottom.gif" border="0" align="middle" alt="Bottom"> 
      </td>
      <td width="10">&nbsp; </td>
      <td> 
        <input type="radio" name="customizeSearchForm" value="customizeSearchFormTop"  alt="Top">
      </td>
      <td> <img src="https://atlas.cafe.uit.yorku.ca/atlas/images/customize_top.gif" border="0" align="middle" alt="Top"> 
      </td>
      <td width="10">&nbsp;</td>
      <td> 
        <input type="radio" name="customizeSearchForm" value="customizeSearchFormTopBottom"  alt="Top and Bottom">
      </td>
      <td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/customize_top_bottom.gif" border="0" align="middle" alt="Top and Bottom">
      </td>
    </tr>
    <tr valign="middle"> 
      <td>&nbsp;</td>
      <td> <span class="bodytext">None</span> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td> <span class="bodytext">Bottom</span> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td> <span class="bodytext">Top</span> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td> <span class="bodytext">Top and Bottom</span> </td>
    </tr>
 <tr> 

      <td colspan="11">
<hr noshade size="1">
        <p><span class="subheading">Font Size</span><br>
          <span class="bodytext">Select your font size preference:<br>
          </span> 
                
        <table border="0" cellpadding="4" cellspacing="0">
          <tr> 
            <td> 
              <input type="radio" name="customizeStylesheet" value="customizeStylesheetNormalFont" CHECKED alt="Default font size">
            </td>
            <td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/A_small.gif" border="0" alt="Image of default font"></td>
            <td><span class="bodytext">Default Font Size</span></td>
            <td width="10">&nbsp;</td>
            <td> 
              <input type="radio" name="customizeStylesheet" value="customizeStylesheetLargeFont"  alt="Larger font size">
              </td><td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/A_big.gif" border="0" alt="Image of larger font"></td> 
              <td><span class="bodytext">Larger Font Size</span></td>
          </tr>
        </table>

       </td>
	</tr>



    <tr valign="middle"> 
      <td colspan="11">
        <hr noshade size="1">
        <p><span class="subheading">Sorting your Search Results</span><br>
          <span class="bodytext">Consistently sort your search results by:</span> 
        <table border="0" cellpadding="6" cellspacing="0">
          <tr valign="top"> 
            <td> 
              <input type="radio" name="customizeSortBy" value="sortBySurname"  CHECKED  alt="Sort by Surname"><span class="bodytext">Nom&nbsp;de&nbsp;Famille&nbsp;</span><br>
</td>
            <td> 
              <input type="radio" name="customizeSortBy" value="sortByGivenName"   alt="Sort by First Name"><span class="bodytext">Pr&#233;nom&nbsp;</span><br>
</td>
            <td> 
              <input type="radio" name="customizeSortBy" value="sortByEmail"   alt="Sort by E-mail address"><span class="bodytext">Courriel&nbsp;</span>
</td>
</tr>
</table>
</td>
</tr>

<tr>
      <td colspan="11"> <br>
        <input type="submit" name="eventSubmit_doCustomize" value="Save My Preferences">
      </td>
    </tr>

    
    <tr valign="middle"> 
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> </td>
      <td></td>
      <td></td>
      <td> </td>
      <td></td>
      <td></td>
      <td> </td>
    </tr>
  </table>
 
  </form>

<p>
 </td>
  </tr>
</table>
<br>


<hr>
<table border="0" cellpadding="0" cellspacing="2">
	<tr>
        <td>
            <span class="smallbodytext">Atlas 1.8.1
             Copyright &copy; 2001-2015 UIT Integration, Design & Identity Services.</span>
        </td>
	</tr>
	<tr>
        <td>
            <span class="smallbodytext">
            Problems regarding York Atlas can be sent to us using our
            <a href="mailto:ithelp@yorku.ca">problem report</a>
            page.
            </span>
		</td>
	</tr>
</table>


</body>

<!-- layouts/Default.vm end --> 
</html>
