.video-player .wp-block-embed__wrapper {
  position: relative;
}

.video-player .wp-block-embed__wrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.video-player.wp-block-embed.wp-has-aspect-ratio iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
