<html>
<!-- layouts/Default.vm begin -->
<head>
<title>York Atlas - Phone and E-mail Directory</title>

<link rel="stylesheet" href="https://passportyork.yorku.ca/yorkweb/standards/web/css/main.css">

</head>

<body bgcolor="#ffffff">
<a name="top"></a>


<table width="100%" cellspacing="0" cellpadding="0" cellborder="0" border="0">
  <tr>
    <td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="167" valign="top"><a href="http://www.yorku.ca/"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/yorklogo.gif" alt="York U: Redefine the Possible" width="167" height="91" border="0" /></a></td>
        <td valign="bottom"><a href="http://www.yorku.ca/yorkweb/" id="yib2home">HOME</a> | <a href="http://www.yorku.ca/yorkweb/cs.htm" id="yib2cs">Current Students</a> | <a href="http://www.yorku.ca/yorkweb/fs.htm" id="yib2fs">Faculty &amp; Staff</a> | <a href="http://www.research.yorku.ca/" id="yib2research">Research</a> | <a href="http://www.yorku.ca/yorkweb/international.htm" id="yib2international">International</a></td>
        <td width="210" valign="top"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/tablebanner.gif" width="210" height="91" border="0" usemap="#ybimap" alt="link: Future Students, Alumni &amp; Visitors" /></td>
      </tr>
	  </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" id="yib2qlinks">&nbsp;&nbsp;<a href="http://www.yorku.ca/yorkweb/faculties.htm" id="yib2fac">Faculties</a> &bull; <a href="http://www.library.yorku.ca/" id="yib2lib">Libraries</a> &bull; <a href="http://www.yorku.ca/yorkweb/maps/index.htm" id="yib2maps">Campus Maps</a> &bull; <a href="http://www.yorku.ca/yorkweb/org.htm" id="yib2org">York U Organization</a> &bull; <a href="http://atlas.yorku.ca" id="yib2dir">Directory</a></td>
          <td align="right" valign="top" id="yib2searchbox"><a href="http://www.yorku.ca/yorkweb/reference/yorksearch/index.htm" id="yib2search">Search &raquo;</a>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#000000"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/pixel.gif" height="1" width="615" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td background="https://atlas.cafe.uit.yorku.ca/atlas/images/redrule.gif"> <img src="https://atlas.cafe.uit.yorku.ca/atlas/images/atlasbanner.gif" height="60" align="top" border="0" usemap="#Map" width="343" alt="York Atlas Logo (Email and Phone Directory)"><map name="Map"><area shape="rect" coords="1,31,343,58" href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"></map></td>
    
  </tr>
  <tr> 
    <td align="right">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/search.gif" border="0" alt="Search Again"></a></td>
          <td><a href="http://designates.apps06.yorku.ca"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/designates.gif" border="0" alt="Need changes or additions?"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/otherdirectories_en.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/otherdir.gif" border="0" alt="Other Directories"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction?eventsubmit_dolanguage=Language"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/francais.gif" border="0" alt="French/English"></a></td>
		  <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction/template/customize_en.vm?eventsubmit_docustomize=Customize"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/customize.gif" border="0" alt="Customize"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/help_en.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/help.gif" border="0" alt="Help"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%">
  <tr> 
    <td align="left" valign="top"><a name="bypassnavigation"></a> &nbsp;<br>
  <span class="heading">York Atlas Help</span>
<!--
<p><span class="bodytext"><b>(This page will be translated soon)</b></span></p>
-->
<br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"> 
    <td> 
      <p><span class="bodytext">Using York Atlas you can search and browse through 
        the York Directory:</span> </p>
      <ul>
        <li><span class="bodytext">Search by Surname</span></li>
        <li><span class="bodytext">By First Name</span></li>
        <li><span class="bodytext">By E-mail Address</span></li>
        <li><span class="bodytext">By Title</span></li>
        <li><span class="bodytext">By Department</span></li>
        <li><span class="bodytext">Sort your results list using Sort</span></li>
        <li><span class="bodytext">Use any of the search fields independently 
          or in combination</span> </li>
      </ul>
      <p><span class="bodytext"><b>Surname</b><br>
        If you enter 'Smith' in the surname field, when you click on Search, York 
        Atlas will return all full names, email addresses and departmental affiliations 
        for people named Smith or people with Smith in their name, such as Smithe.<br>
        <br>
        </span><span class="bodytext"><b>First Name</b><br>
        If you enter 'John' in the First Name field, when you click on Search, 
        York Atlas will return all full names, email addresses and departmental 
        affiliations for people named John or have John in their name such as 
        Johnathan or John-Paul. </span> </p>
      <p><span class="bodytext"><b>E-Mail Address</b><br>
        If you enter 'Smith' in the E-mail Address field, when you click on Search, 
        York Atlas will return all full names, email addresses and departmental 
        affiliations for people with 'smith' in their e-mail address.</span></p>
      <p><span class="bodytext"><b>Job Title</b><br>
        The Job Title option helps you locate people according to job title. For 
        example, if you type 'Director' in the Job Title field, York Atlas will 
        return all full names and job titles of all Directors in the database.</span></p>
      <p><span class="bodytext"><b>Department</b><br>
        The Department option helps you to locate organization units, their personnel 
        and related departments. For example if you enter 'Computer Science' in 
        the Department field, York Atlas will return all occurrences of departments 
        that include 'Computer Science' in the department name. You could then 
        click on the department that is of interest to you to find more detailed 
        information about that particular department.</span></p>
      <p><span class="bodytext"><b>Sort</b><br>
        Sort allows you to organize your results list alphabetically by Surname, 
        First Name, or E-Mail Address.</span></p>
      <p><span class="bodytext"><b>Search fields independently or in combination</b><br>
        Each of the above fields can be searched independently, or in combination. 
        For instance, you could search for only a Job Title if you were looking 
        for all people in the university with a particular job title, or you could 
        search for both a Surname and a Department in combination if you were 
        looking for a particular person who works in a particular department. 
        Combining searches will help limit your number of results.</span></p>
      <table border="1" cellpadding="8" cellspacing="0" width="100%">
        <tr> 
          <td> 
            <p><span class="bodytext"><b>Advanced Searching Tips - substrings</b></span></p>
            <p><span class="bodytext">If you are not sure how to spell something, 
              York Atlas lets you type the two or more characters of whatever 
              it is you want to search. For example, for the name Cecilia, typing 
              &quot;Ce&quot; or &quot;Cec&quot; in the First Name field will return 
              all names starting with that character string, including all Cecilias.</span></p>
            <p><span class="bodytext">If you know only a portion of the name you 
              want to search but are unsure what it starts with you can use an 
              asterisk (*) at the start of your search.<br>
              For example if you know the person's first name includes &quot;smith&quot; 
              but does not start with &quot;Smith&quot; you can search with <b>*smith</b>.</span> 
              <span class="bodytext">This search will return names such as Blacksmith 
              and hyphenated names such as Donald-Smith.</span></p>
            </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p><span class="bodytext"> </span> </p>
    
 </td>
  </tr>
</table>
<br>


<hr>
<table border="0" cellpadding="0" cellspacing="2">
	<tr>
        <td>
            <span class="smallbodytext">Atlas 1.8.1
             Copyright &copy; 2001-2015 UIT Integration, Design & Identity Services.</span>
        </td>
	</tr>
	<tr>
        <td>
            <span class="smallbodytext">
            Problems regarding York Atlas can be sent to us using our
            <a href="mailto:ithelp@yorku.ca">problem report</a>
            page.
            </span>
		</td>
	</tr>
</table>


</body>

<!-- layouts/Default.vm end --> 
</html>
