<html>
<!-- layouts/Default.vm begin -->
<head>
<title>York Atlas - Phone and E-mail Directory</title>

<link rel="stylesheet" href="https://passportyork.yorku.ca/yorkweb/standards/web/css/main.css">

</head>

<body bgcolor="#ffffff">
<a name="top"></a>


<table width="100%" cellspacing="0" cellpadding="0" cellborder="0" border="0">
  <tr>
    <td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="167" valign="top"><a href="http://www.yorku.ca/"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/yorklogo.gif" alt="York U: Redefine the Possible" width="167" height="91" border="0" /></a></td>
        <td valign="bottom"><a href="http://www.yorku.ca/yorkweb/" id="yib2home">HOME</a> | <a href="http://www.yorku.ca/yorkweb/cs.htm" id="yib2cs">Current Students</a> | <a href="http://www.yorku.ca/yorkweb/fs.htm" id="yib2fs">Faculty &amp; Staff</a> | <a href="http://www.research.yorku.ca/" id="yib2research">Research</a> | <a href="http://www.yorku.ca/yorkweb/international.htm" id="yib2international">International</a></td>
        <td width="210" valign="top"><img src="https://passportyork.yorku.ca/yorkweb/standards/images/tablebanner.gif" width="210" height="91" border="0" usemap="#ybimap" alt="link: Future Students, Alumni &amp; Visitors" /></td>
      </tr>
	  </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" id="yib2qlinks">&nbsp;&nbsp;<a href="http://www.yorku.ca/yorkweb/faculties.htm" id="yib2fac">Faculties</a> &bull; <a href="http://www.library.yorku.ca/" id="yib2lib">Libraries</a> &bull; <a href="http://www.yorku.ca/yorkweb/maps/index.htm" id="yib2maps">Campus Maps</a> &bull; <a href="http://www.yorku.ca/yorkweb/org.htm" id="yib2org">York U Organization</a> &bull; <a href="http://atlas.yorku.ca" id="yib2dir">Directory</a></td>
          <td align="right" valign="top" id="yib2searchbox"><a href="http://www.yorku.ca/yorkweb/reference/yorksearch/index.htm" id="yib2search">Search &raquo;</a>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#000000"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/pixel.gif" height="1" width="615" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td background="https://atlas.cafe.uit.yorku.ca/atlas/images/redrule.gif"> <img src="https://atlas.cafe.uit.yorku.ca/atlas/images/atlasbanner.gif" height="60" align="top" border="0" usemap="#Map" width="343" alt="York Atlas Logo (Email and Phone Directory)"><map name="Map"><area shape="rect" coords="1,31,343,58" href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"></map></td>
    
  </tr>
  <tr> 
    <td align="right">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/Index.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/search.gif" border="0" alt="Search Again"></a></td>
          <td><a href="http://designates.apps06.yorku.ca"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/designates.gif" border="0" alt="Need changes or additions?"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/otherdirectories_en.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/otherdir.gif" border="0" alt="Other Directories"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction?eventsubmit_dolanguage=Language"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/francais.gif" border="0" alt="French/English"></a></td>
		  <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction/template/customize_en.vm?eventsubmit_docustomize=Customize"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/customize.gif" border="0" alt="Customize"></a></td>
          <td><a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/help_en.vm"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/en/help.gif" border="0" alt="Help"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%">
  <tr> 
    <td align="left" valign="top"><a name="bypassnavigation"></a> <script language="JavaScript">
<!-- Begin
NS4 = (document.layers) ? true : false;

function checkEnter(event) {
    var code = 0;
    var theform = document.SearchForm;

    if (NS4) {
        code = event.which;
    } else {
        //code = event.keyCode;
        code = window.event.keyCode;
    }

    if (code == 13) {
        theform.submit();
        return false;
    }
    return true;
}

if (NS4) {
    // document.captureEvents(Event.KEYDOWN|Event.KEYUP);
    document.captureEvents(Event.KEYPRESS);

    // register handler
    document.onkeypress = checkEnter;
}
//  End -->
</script>
&nbsp;<br>


<table border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"><td> 

<span class="heading">Welcome to Atlas</span>



<form
id="SearchForm"
name="SearchForm"
method="post"
#accept-charset="ISO-8859-1"
action="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/action/AtlasAction/template/atlasResults.vm"
enctype="application/x-www-form-urlencoded">

        <span class="bodytext">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr> 
            <td><span class="bodytext">Surname:</span>
            </td>
            <td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/pixel.gif" width="5"></td>
            <td>
                  <input type="text" id="SearchSurname" name="SearchSurname" size="30" maxlength="30" value="" />
            </td>
            <td rowspan="8"><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/pixel.gif" width="5"> 
            </td>
          </tr>
          <tr> 
            <td><span class="bodytext">First&nbsp;Name:</span>
            </td>
            <td>&nbsp;</td>
            <td>
                  <input type="text" id="SearchAka" name="SearchAka" size="30" maxlength="30" value="" />
            </td>
          </tr>
          <tr>
            <td>
                <span class="bodytext">E-mail&nbsp;Address:</span>
            </td>
            <td>&nbsp; </td>
            <td>
                  <input type="text" id="SearchEmail" name="SearchEmail" size="30" maxlength="30" value="" />
            </td>
          </tr>

        <tr> 
        <td><span class="bodytext">Telephone&nbsp;Extension: </span>
        </td>
        <td>&nbsp;</td>
        <td>
                  <input type="text" id="SearchTelephone" name="SearchTelephone" size="30" maxlength="30" value="" />
        </td>
        </tr>


          <tr> 
            <td><span class="bodytext">Title: </span>
          </td>
            <td>&nbsp;</td>
            <td> 
                  <input type="text" id="SearchTitle" name="SearchTitle" size="30" maxlength="30" value="" />
            </td>
          </tr>


          <tr> 
            <td><span class="bodytext">Department: </span>
          </td>
            <td>&nbsp;</td>
            <td> 
                  <input type="text" id="SearchOrgUnit" name="SearchOrgUnit" size="30" maxlength="30" value="" />
            </td>
          </tr>


          <tr> 
            <td><span class="bodytext">Sort By:</span></td>
            <td>&nbsp;</td>
            <td> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td> 
                    <input type="radio" name="SearchSortBy" value="sortBySurname"  CHECKED  alt="Sort by Surname">
                    <span class="bodytext">Surname&nbsp;&nbsp;&nbsp;</span></td>
                  <td> 
                    <input type="radio" name="SearchSortBy" value="sortByGivenName"   alt="Sort by First Name">
                    <span class="bodytext">First&nbsp;Name&nbsp;&nbsp;&nbsp;</span></td>
                  <td>
                    <input type="radio" name="SearchSortBy" value="sortByEmail"   alt="Sort by E-mail Address">
                    <span class="bodytext">E-mail&nbsp;Address</span></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td> 
              <input type="submit" name="eventSubmit_doSearch" value="Search">
              <input type="reset" name="Reset" value="Reset">
            </td>
          </tr>
        </table></span>



        <input type="hidden" name="eventSubmit_doSearch" value="Search">
      </form>
    </td>
    <td> 
      <table border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td><img src="https://atlas.cafe.uit.yorku.ca/atlas/images/stripoffaces.jpg" alt="Image of a group of people."></td>
        </tr>
        <tr> 
          <td>
<p class="bodytext">For general contact information visit the <a href="http://www.yorku.ca/yorkweb/reference/feedback.htm">Contact 
              York</a> page. </p>
            <p><span class="bodytext">Changes, additions and deletions to faculty 
              and staff telephone and email listings are made by 
              <a href="http://designates.apps06.yorku.ca">Departmental Designates</a>.</span></p>
            <p><span class="subheading">About Atlas</span><br>
              <span class="bodytext">York Atlas is an online 
              directory that allows users to search for information about individuals 
              and organizational units associated with York University.<br>
<a href="https://atlas.cafe.uit.yorku.ca/atlas/servlet/atlas/template/about_en.vm">More about Atlas</a> &gt;</span></p>


            <p><span class="bodytext">
                <strong>Use of this directory system for bulk e-mail activity (spam) is strictly prohibited.</strong>
                </span>
            </p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script language="JavaScript">
document.getElementById('SearchSurname').focus();
</script>
 </td>
  </tr>
</table>
<br>


<hr>
<table border="0" cellpadding="0" cellspacing="2">
	<tr>
        <td>
            <span class="smallbodytext">Atlas 1.8.1
             Copyright &copy; 2001-2015 UIT Integration, Design & Identity Services.</span>
        </td>
	</tr>
	<tr>
        <td>
            <span class="smallbodytext">
            Problems regarding York Atlas can be sent to us using our
            <a href="mailto:ithelp@yorku.ca">problem report</a>
            page.
            </span>
		</td>
	</tr>
</table>


</body>

<!-- layouts/Default.vm end --> 
</html>
